<header class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <%= link_to t(".sample_app"), root_path, id: "logo", class: "nav-link" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), "#", class: "nav-link" %></li>
        <li><%= link_to t(".help"), "#", class: "nav-link" %></li>
        <% if logged_in? %>
        <li class="nav-item"><%= link_to t(".users"), users_path %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > <%= t ".account" %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to t(".profile"), user_path(locale, current_user), class: "dropdown-item" %></li>
            <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t(".log_out"), logout_path, method: :delete, class: "dropdown-item" %> </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to t(".login"), login_path(locale), class: "nav-link" %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
